*.exe
mc/templates
*.aux
*.log
*.out
*.toc
mc/mccar/peripherie.pdf
mc/cw_workspace/*
mc/datasheets/*.pdf
mc/datasheets/*
!mc/datasheets/datasheets.sh
/c/sw05/ex54/nbproject/private/
/c/sw05/ex54_2/nbproject/private/
/c/sw05/ex54_2/build/Debug/
/c/sw05/ex54_2/dist/Debug/
/c/sw05/ex52/nbproject/private/
/c/sw05/ex52/build/Debug/
/c/sw05/ex52/dist/Debug/
/c/sw06/addressmanager/nbproject/private/
/c/sw01/ex13/nbproject/private/
/c/sw01/ex14/nbproject/private/
/c/sw01/fahrtocels/nbproject/private/
/c/sw01/gcd/nbproject/private/
/c/sw01/helloworld/nbproject/private/
/c/sw01/wordcount/nbproject/private/
/c/sw02/ex21/nbproject/private/
/c/sw02/ex22/nbproject/private/
/c/sw02/ex24/nbproject/private/
/c/sw02/fibonacci/nbproject/private/
/c/sw02/strcat/nbproject/private/
/c/sw03/ex41/nbproject/private/
/c/sw06/addressmanager/dist/Debug/
/c/sw06/addressmanager/build/Debug/
/c/sw06/addressmanager/*.txt
