*.exe
mc/templates
*.aux
*.log
*.out
*.toc
mc/mccar/peripherie.pdf
mc/cw_workspace/*
mc/datasheets/*.pdf
mc/datasheets/*
!mc/datasheets/datasheets.sh
/c/sw05/ex54/nbproject/private/
/c/sw05/ex54_2/nbproject/private/
/c/sw05/ex54_2/build/Debug/
/c/sw05/ex54_2/dist/Debug/
/c/sw05/ex52/nbproject/private/
/c/sw05/ex52/build/Debug/